.circ{
    border-radius: 25px;
}
.active>.nav-link>span, .white{
    color: white;
}
.nav-link>span, .black{
    color: black;
}

.l-green{
    background:#66ff33;
}

.title{
    font-size: xx-large;
}

.spacer{
    margin-top: 20px;
}

.bor{
    border: solid 2px white;
}
.info{
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.125);
    border-top-width: 1px;
}